__pycache__

datasets/*
!datasets/datasets_export_here

pth/*
classification_maps/*
!classification_maps/classification_maps_here
!pth/pth_stay_here

records/figures/*
records/log/*
records/models/*
!records/figures/figure
!records/log/log
!records/models/early